<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your New Password</h1>
    <p>You have successfully reset your password, your new password is:<br/> <%= @newPass %></p>
  </body>
</html>