<h2>Forgot Password</h2>

<%= form_tag forgot_password_path, :class => "nice" do %>
  <p>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :class => "input-text" %>
  </p>
  <p><%= submit_tag "Send New Password", :class => "nice small radius blue button" %></p>

<% end %>